*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    font-size: large;
}

body{
display: grid;
grid-template-areas: 
"header header" 
"nav article" 
"section aside"
"footer footer";

grid-template-rows: 100px 120px 1fr 1fr 100px;
gap:10px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
height: 100vh;
}

header{
    grid-area: header; 
    background: #333;
    color: #f7ff00;
    text-align: center;
    padding: 10px;
    height: 100px;
    text-decoration: underline;
    font-size: xx-large;

}

nav{
    grid-area: nav;
    background: #000000;
    color: #a8ad1d;
    text-align: center;
    font-size: medium;

    
}
article{
    grid-area: article;
    background: #333;
    color: #f7ff00;
    text-align: center;
    padding: 10px;
}

section{
    grid-area: section;
    background-color: #333;
    color:#f7ff00;
    text-align: center;
    padding: 10px;

}

aside{
    grid-area: aside;
    text-align: center;
    padding: 10px;
    background: #333;
    color: #f7ff00;
}



footer{
    grid-area: footer;
    background: #333;
    color: #f7ff00;
    text-align: center;
    padding: 10px;

}