* {
    margin: 1; 
    padding: 1; 
    box-sizing: border-box; 
    font-size:105%;
    
    
    

}
.Imagen{
    opacity: 0.8;
    text-align: center;
    width: 90%;

}

body {
    
    background-image: url(neon.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-areas: 
        "header header" 
        "nav article" 
        "section aside"
        "footer footer";
    grid-template-rows: 100px 250px 1fr 100px; 
    gap: 7px; 
    font-family:'Roboto',sans-serif;
    height: 100vh; 
}

header {
    grid-area: header; 
    background: rgba(141, 139, 139, 0.3);
    color: #04fc2d;
    text-align: center;
    padding: 10px;
    font-size: 280%;
    text-decoration: underline;
    text-align: center;
    
}

nav {
    grid-area: nav;
    background: rgba(59, 59, 59, 0.3);
    color: #04fc2d;
    

}


article {
    grid-area: article;
    background: rgba(59, 59, 59, 0.3);
    color: #04fc2d;
    text-align: center;
    padding: 10px; 
    text-align: justify;
    
}

section {
    grid-area: section;
    background-color: rgba(59, 59, 59, 0.3);
    color: #04fc2d;
    text-align: center;
    padding: 10px;
    text-align: justify;
}

aside {
    grid-area: aside;
    background: rgba(59, 59, 59, 0.3);
    color: #060600;
    text-align: center;
    padding: 10px;
}

footer {
    grid-area: footer;
    background: rgba(59, 59, 59, 0.3);
    color: #afdfb7;
    text-align: center;
}

a{
    color: #32b348;
}